*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
    background: #931dfb;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: white;
}
.navbar h2{
    text-transform: uppercase;
    letter-spacing: 3px;
}
.navbar ul{
    display: flex;
    gap: 20px;
}
.navbar li{
    padding: 7px 15px;
    background-color: #4b0688;
    color: white;
    list-style: none;
    font-family: 'Montserrat';
    border-radius: 6px;
    cursor: pointer;
}
.navbar li:hover{
    background-color: #7103d2;
}
.navbar .active{
    background-color: #7103d2;
}
.Stopwatch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
    gap: 30px;
    padding-top: 20%;
}

.Stopwatch .Time{
    font-size: 95px;
    font-family:sans-serif;
    color: #931dfb;
}
.Time .milliseconds{
    color: #1d1dfb;
}
.Buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pair{
    display: flex;
    gap: 30px;
}
.pair .btn{
    padding: 32px 25px;
    border: none;
    cursor: pointer;
    font-family:'rota';
    font-size: 17px;
    border-radius: 50%;
    color: white;
    transition: .3s linear;
}
.pair .blue{
    background-color: #931dfb;
    box-shadow: 0px 0px 8px 1px #a141f6;
}
.pair .orange{
    background-color: #fb9b1d;
    box-shadow: 0px 0px 8px 1px #f58b01;
}
.pair .blue:hover{
    background-color: #1d1dfb;
    box-shadow: 4px 4px 8px 1px #0505f5;
}
.pair #count{
    padding: 32px 21px;
    background-color: #1d1dfb;
    box-shadow: 0px 0px 8px 1px #0505f5;
}
.pair #count:hover{
    /* padding: 32px 21px; */
    background-color: #5858fa;
    box-shadow: 4px 4px 8px 1px #3939ff;
}

.pair #reset{
    padding: 32px 21px;
    background-color: #1d1dfb;
    box-shadow: 0px 0px 8px 1px #0505f5;
}
.pair #reset:hover{
    /* padding: 32px 21px; */
    background-color: #5858fa;
    box-shadow: 4px 4px 8px 1px #3939ff;
}


.pair .orange:hover{
    background-color: #fb1d1d;
    box-shadow: 4px 4px 8px 1px #f53601;
}




.counts_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    border-top: 1px solid gainsboro;
    text-align: center;
    padding: 22px 0px;
}
#counts{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    
    justify-content: center;
}
.counts_section h3{
    font-family:sans-serif;
    letter-spacing: 2px;
    color: rgb(102, 102, 102);
}
#counts .noCounts{
    font-size: 40px;
    font-family: 'Montserrat';
    color: #6d6d6d;
    padding: 50px 0px;
}
#counts .count{
    width: 300px;
    font-family: 'rota';
    height: fit-content;
    padding: 7px 9px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid gainsboro;
    border-bottom: 2px solid gainsboro;

}





.Timer{
    display: flex;
    height: 88vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.Timer .Questioning{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.Timer .RemainingTime{
    font-size: 95px;
    font-family:sans-serif;
    color: #3939ff;
}
.Questioning .fields{
    display: flex;
    flex-direction: column;
    
}
.Questioning .fields input{
    border: 1px solid grey;
    padding: 9px 18px;
    font-size: 18px;
    font-family: 'Montserrat';
    color: grey;
    outline: none;
}
.fields #totalhours{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: none;
}
.fields #totalseconds{
    border-top: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.Timer .setthistimeBTN{
    margin-top: 30px;
    text-align: center;
    display: flex;
    gap: 25px;
    justify-content: center;
}
.setthistimeBTN button{
    border: none;
    cursor: pointer;
    font-family: 'rota';
    font-size: 17px;
    border-radius: 50%;
    color: white;
    transition: .3s linear;
}
.setthistimeBTN #startThisTime{
    padding: 32px 25px;
    background: linear-gradient(#1d1dfb,#7b5ce0);
}
.setthistimeBTN #resetThisTime{
    padding: 32px 21px;
    background: linear-gradient(#fba21d,#ff6321);
    
}
.setthistimeBTN #pauseThisTime{
    padding: 32px 21px;
    background: linear-gradient(#ff5757,#ff0000);
}




@media only screen and (max-width: 430px) {
    .Timer .RemainingTime {
        font-size: 57px;
    }
    #counts .count {
        width: 250px;
    }
    .pair{
        gap: 14px;
    }
    .navbar{
        padding: 14px;
    }
    .navbar li{
        padding: 6px 12px;
        font-size: 10px;
    }
    .navbar h2{
        font-size: 19px;
    }
    .Stopwatch .Time {
        font-size: 65px;
    }
    .pair .btn{
    padding: 27px 20px;
    border: none;
    cursor: pointer;
    font-family: 'rota';
    font-size: 14px;
    border-radius: 50%;
    color: white;
    transition: .3s linear;
    }
    .navbar ul{
        gap: 10px;
    }
    .pair #reset{
        padding: 27px 18px;
    }
    .pair #count {
        padding: 25px 17px;
    }    
}